{% extends 'layout.html' %}
{% block body %}

<h2>Recent pastes</h2>

<div class="paste-grid">
    {% for paste in pastes %}
        <div class="infobox paste">        
            <span class="alt-colour">#{{ paste.id }}</span>
            <a href="
            {%- if paste.unlisted -%}
                {{ url_for('pastes.unlisted', paste_hash=paste.hash) }}
            {%- else -%}
                {{ url_for('pastes.public', paste_id=paste.id) }}
            {%- endif -%}
            ">
                {{ paste.title }}
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}