body {
    background-color: #EEE;
}

h1, h2, h3, a {
    color: #377BA8;
    margin: 0 0 5px;
}

ul {
    padding-left: 0;
    margin: 4px 0;
}

li {
    list-style-type: none;
}

pre {
    margin: 0 0;
    white-space: pre;
}

a {
    text-decoration: none;
}

a:hover {
    color: #108FE4;
}

section, footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: white;
    border: 5px solid #CCC;
    padding: 0.8em;
    margin: 2em auto 0;
}

.main-nav {
    margin-bottom: 8px;
    border-top: 3px solid #EEE;
    background-color: #FAFAFA;
    text-align: right;
}

.main-nav a {
    font-size: 14px;
}

.nav {
    padding: 3px;
    margin: 0;
    display: inline;
}

.nav > li {
    vertical-align: center;
    display: inline-block;
}

input, textarea {
    border: 1px solid #CCC;
    margin-bottom: 5px;
    padding: 10px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea[name=text] {
    font-family: monospace;
    width: 100%;
    height: 200px;
}

input[name=submit] {
    float: right;

}

.flash {
    border-width: 2px;
    border-style: solid;
    padding: 5px 7px;
    margin: 3px 0;
    text-align: center;
}

.flash-error {
    border-color: #eed3d7;
    color: #b94a48;
    background-color: #f2dede;
}

.infobox {
    border: 1px solid #ccc;
    background-color: #FAFAFA;
    padding: 10px;
}

.paste-details {
    font-size: 13px;
    margin-bottom: 2px;
}

.paste-wrap {
    width: 100%;
}

.password {
    text-align: center;
}

.password input[type=submit] {
    float: none;
}

.git-hash {
    text-align: right;
}

.git-hash a {
    color: #CCC;
}

.highlighttable {
    border: 1px solid #ccc;
    background-color: #F8F8F8;
    width: 100%;
    font-size: 13px;
    display: block;
    overflow: auto;
}

.highlight, .code {
    background-color: #F8F8F8
}

.linenos {
    vertical-align: baseline;
    text-align: right;
    background-color: #EEE;
    padding: 5px 10px 0;
}

.code {
    padding: 5px 5px 0;
}
