{% extends "layout.html" %}
{% block body %}
    <div class="recent">
        <h3>Recent pastes</h3>
        <ul class=list_recent>
        {% for paste in pastes %}
            <li><p2><a title="{{ paste.title }}" href="{{ url_for('view_paste', paste_id=paste.id) }}">{{ paste.title|truncate(length=12, killwords=True, end='...') }}</a><br><span title="{{ paste.posted }}">{{ paste.age }} ago</p2></li>
        {% else %}
            <li><p2>There's nothing here yet!<br><a href="{{ url_for('index') }}">Change that!</a></p2></li>
        {% endfor %}
        </ul>
    </div>
            <form action="{{ url_for('add') }}" method="post">
                    <textarea class="textedit input-bordered" name="contents" rows="15" placeholder="Paste contents" autofocus></textarea>
                    <input type="text" class="input-bordered" name="title" maxlength="40" placeholder="Title (optional)">
                    <!--<input type="password" name="password" maxlength="30" placeholder="Password (optional)">-->
                    <input type="checkbox" id="unlisted" name="unlisted" value="1"/><p2>Unlisted</p2>
                    <input type="hidden" name="unlisted" value="0" />
                    <select name="language" class="input-bordered">
                        <option value="text">Language</option>
                        <option value="text">Text</option>
                        <option value="c">C</option>
                        <option value="csharp">C#</option>
                        <option value="cpp">C++</option>
                        <option value="css">CSS</option>
                        <option value="erlang">Erlang</option>
                        <option value="go">Go</option>
                        <option value="html">HTML</option>
                        <option value="java">Java</option>
                        <option value="javascript">JavaScript</option>
                        <option value="json">JSON</option>
                        <option value="objectivec">Objective-C</option>
                        <option value="perl">Perl</option>
                    <!--<option value="postgresql">PostgresSQL</option>-->
                        <option value="python">Python</option>
                        <option value="python3">Python 3</option>
                        <option value="ruby">Ruby</option>
                        <option value="sql">SQL</option>
                        <option value="vbnet">VB.NET</option>
                    </select>
                    <input type="submit" value="Paste!">
            </form>
            <div id="unlistedtext" class="flash">
            This paste will be marked as unlisted; only visible to people you give the URL to.
            </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#unlisted").click(function(){

            if ($("#unlisted").is(":checked"))
            {
                $("#unlistedtext").slideDown("fast");
            }
            else
            {
                $("#unlistedtext").slideUp("medium");
            }
        });
    });
</script>
{% endblock %}
