{% extends "layout.html" %}
{% block head %}<link rel=stylesheet type=text/css href="{{ url_for('static', filename='highlight.css') }}">{% endblock %}
{% block body %}
        <h2>api documentation</h2><br>
        <p2>To create a paste, send an HTTP POST request to <strong>{{url_for('api_add', _external=True)}}</strong> with <strong>title, contents, language</strong> and <strong>unlisted</strong> parameters</p>
            </p>Language should be any of the choices available via the drop down menu on the submit paste page, and unlisted should be 1 or 0 for true or false respectively. An example is shown below; I highly recommend using <a href="http://docs.python-requests.org">requests</a> for this.
        </p2>

<!-- Python Highlighting -->
<div class="highlight paste-content"><pre><span class="kn">import</span> <span class="nn">requests</span>

<span class="k">def</span> <span class="nf">addPaste</span><span class="p">():</span>
    <span class="n">paste</span> <span class="o">=</span> <span class="p">{</span><span class="s">&#39;title&#39;</span><span class="p">:</span> <span class="s">&#39;Example title&#39;</span><span class="p">,</span>
             <span class="s">&#39;contents&#39;</span><span class="p">:</span> <span class="s">&#39;The contents of the paste would go here!&#39;</span><span class="p">,</span>
             <span class="s">&#39;language&#39;</span><span class="p">:</span> <span class="s">&#39;text&#39;</span><span class="p">,</span>
             <span class="s">&#39;unlisted&#39;</span><span class="p">:</span> <span class="mi">0</span> <span class="p">}</span>
    <span class="n">r</span> <span class="o">=</span> <span class="n">requests</span><span class="o">.</span><span class="n">post</span><span class="p">(</span><span class="s">&#39;{{url_for('api_add', _external=True)}}&#39;</span><span class="p">,</span> <span class="n">data</span><span class="o">=</span><span class="n">paste</span><span class="p">)</span>

    <span class="k">return</span> <span class="n">r</span><span class="o">.</span><span class="n">text</span>
</pre></div>


        <br><p2>If all goes well, you should get a json response similar to the following, for you to parse:</p2>

<!-- JSON Highlighting -->
<div class="highlight paste-content"><pre><span class="p">{</span>
  <span class="nt">&quot;url&quot;</span><span class="p">:</span> <span class="s2">&quot;{{url_for('index', _external=True)}}view/5&quot;</span><span class="p">,</span>
  <span class="nt">&quot;success&quot;</span><span class="p">:</span> <span class="kc">true</span>
<span class="p">}</span>
</pre></div>

{% endblock %}
