<!doctype html>
<head>
    <title>pastebin</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}

</head>
<body>
    <div class="page">
        <a href="{{ url_for('index') }}"><h1>pastebin</h1></a>
        <div class="metanav">
            {% if session.logged_in %}<a href="{{url_for('view_all_pastes')}}">view <em>all</em> recent pastes</a> | {% endif %}<a href="{{url_for('view_list')}}">view recent pastes</a> | <a href="{{ url_for('index') }}">new paste</a> | <a href="{{ url_for('api') }}">api</a>{% if session.logged_in %} | <a href="{{ url_for('logout') }}">logout</a>{% endif %}
        </div>
        {% if error %}<p class="error"><strong>Error:</strong> {{ error|safe }}{% endif %}
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% block body %}{% endblock %}
        <p class="footer-text">Powered by <a href="http://flask.pocoo.org" target="_blank">Flask</a> and <a href="http://pygments.org/" target="_blank">Pygments</a></p>
    </div>
</body>
