{% extends "layout.html" %}
{% block body %}

    <div>
        <h3>Recent pastes</h3>
        <ul>
        {% for paste in pastes %}
            <li><p1><a href="{{ url_for('view_list') }}{{ paste.id }}">{{ paste.title }}</a></p1><p2> {{ paste.contents }}... <br>Lang: <span class="lang">{{ paste.language }}</span> Pasted <span class="time">{{ paste.posted }} ago</span></p2></li>
        {% else %}
            <li><p2>There's nothing here yet!<br><a href="{{ url_for('index') }}">Change that!</a></p2></li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
