{% extends "layout.html" %}
{% block head %}<link rel=stylesheet type=text/css href="{{ url_for('static', filename='highlight.css') }}">{% endblock %}
{% block body %}

    <div class="paste-info">
        <h2>{{ cur_paste.title }}</h2><p2>Language: {{ cur_paste.language }}<br>Age: <span title="{{ cur_paste.posted }}">{{ cur_paste.age }}</span>
        <br><a href="raw/">View raw</a></p2>
        {% if session.logged_in %}
            <form action="{{ url_for('delete') }}" method="post">
                <input type="submit" class="delete" value="Delete paste">
                <input type="hidden" name="pid" value="{{ cur_paste.id }}">
            </form>
        {% endif %}
    </div>
    <div class="paste-content">
        {{ highlighted|safe }}
    </div>


{% endblock %}
