<!doctype html>
<html>
<head>
    <title>{% if title %}{{ title }} &middot; {% endif %}PyPaste</title>

    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26424587-1']);
      _gaq.push(['_setDomainName', 'buttscicl.es']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
<body>

    <section class="container">

        <h1><a href="{{ url_for('pastes.index') }}">PyPaste</a></h1>
        <div class="main-nav">
            <ul class="nav">
                <li><a href="{{ url_for('pastes.index') }}">new</a></li>
                <li>&middot;</li>
                <li><a href="{{ url_for('pastes.recent') }}">recent</a></li>
                <li>&middot;</li>
                <li><a href="{{ url_for('v1.docs') }}">api</a></li>
                <li>&middot;</li>

                {% if session.logged_in %}
                <li><a class="logout" href="{{ url_for('admin.logout') }}">log out</a></li>
                {% else %}
                <li><a href="{{ url_for('admin.login') }}">log in</a></li>
                {% endif %}

            </ul>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <section class="flashes">
              {% for category, message in messages %}
                <div class="flash flash-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            </section>
          {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

    </section>

    {% if config.VERSION %}
    <footer>
      <div class="git-hash">
        <a href="https://github.com/buttscicles/PyPaste/tree/{{ config.VERSION }}">
          {{ config.VERSION|truncate(10, killwords=True, end='') }}
        </a>
      </div>
    </footer>
    {% endif %}


</body>
</html>